*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    background-color: black;
    height: 100vh;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-evenly;
}

main div{
    width: 200px;
    height: 100px;
    min-width: 200px;
}

.flex-item-1{
    background-color: red;
}

.flex-item-2{
    background-color: blue;
    /* flex-grow: 1; */
}

.flex-item-3{
    background-color: green;
}